@import "src/components/global.module.sass"

.skillsWrapper
  color: $gray
  font-size: 2rem
  display: flex
  align-items: center
  flex-direction: column
  .skillsList
    margin-top: 2rem
    text-align: left
