@import "src/components/global.module.sass"

.textBox
  background-color: $white
  border-radius: 25px
  border-style: none
  width: 600px
  height: 350px
  padding-top: 30px
  padding-left: 50px
  color: $gray
  white-space: pre-wrap
