@import "src/components/global.module.sass"

.main
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  margin: 5rem auto
  border-radius: 2rem
  background-color: $white
  width: 1100px
  @include sp
    grid-template-columns: 1fr
    width: auto
    margin: 2rem
