@import "src/components/global.module.sass"

.main
  display: flex
  flex-direction: column
  align-items: center

.title
  text-align: center
  color: $white
  font-size: 5rem

.selectionContainer
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-column-gap: 2rem
